<!DOCTYPE html>
<html  xmlns="htto://www.w3.org/1999/xhtml"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org" >
  
  <head>
  <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"  
         th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
  
  </head>
  
  
  <body>
  <div class="container">
  <h1>HEADER</h1>
  </div>
  
  <div layout:fragment ="content">
    <!-- Page content goes here  -->
    asdasdasds
   
  </div>
   
  </body>


</html>