<!DOCTYPE html>
<html>

<head th:replace="fragments/header :: header">


</head>


<body>


	<div class="container">
		<h2 style="color: #00ccff" th:text="${schoolName}" class="ucase">Rifat is the
			boss</h2>
		<br />
		



	</div>

	<div class="container" >
		<form method="post" >
		<p th:text="${error}"></p>
			<div class="form-group">
				<label for="comment">Content:</label>
				<textarea class="form-control" rows="10"  name="content" d="comment" th:text="${content}"></textarea>
			</div>
			<div class="form-group" style="max-width:300px">
				<label for="pwd">Password:</label> <input type="password"
					class="form-control" name="password" id="pwd"></input>
			</div>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>


	<div th:replace="fragments/footer :: footer">Footer</div>


</body>




</html>